.sc-fHsOPI {
  font-family: 'NotoSans' !important;

  path {
    fill: #9f8455 !important;
  }

  .sc-jSMfEi {
    background-color: white !important;
    border: 1px solid #9f8455 !important;
    border-radius: 10px !important;
  }

  .sc-iBkjds {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;

    svg,
    path {
      fill: white !important;
    }
  }
}